#footer
  text-align: center
  height: 50px
  line-height: 50px
  background: color-footer-background
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  font-size: 0.85em
