extends ../layouts/base
block head
  title About Me
block content
  h1 About Me
  h2 Daijiro Wachi
  p Software Engeneer, UI Designer, OSS Engineer
  ul
    li
      a(href='https://osrc.dfm.io/watilde/') THE OPEN SOURCE REPORT CARD
    li
      a(href='http://resume.github.io/?watilde') MY GITHUB RÉSUMÉ
  hr
  h3 English Infomation
  ul
    li
      a(href='https://github.com/watilde/') GitHub
    li
      a(href='https://npmjs.org/~watilde') npm
    li
      a(href='http://linkedin.com/pub/daijiro-wachi/') Linkedin
  hr
  h3 Japanese Infomation
  ul
    li
      a(href='https://twitter.com/watilde/') Twitter
    li
      a(href='http://qiita.com/watilde') Qiita
    li
      a(href='http://jsdo.it/watilde/') jsdo.it
    li
      a(href='http://watilde.hatenablog.com') Blog
  h3 My books
  ul
    li
      a(href='http://www.amazon.co.jp/gp/product/4774167975?adid=0RKFWNGSCNG17A3D2RDE&camp=1027&creative=7407&creativeASIN=4774167975&linkCode=as4&tag=watilde-22') JavaScriptエンジニア養成読本
