extends ../layouts/base
block head
  title About Me
block content
  h1 About Me
  h2 English
  ul
    li
      a(href='https://github.com/watilde/') GitHub
    li
      a(href='https://npmjs.org/~watilde') npm
  h2 Japanese
  ul
    li
      a(href='https://twitter.com/watilde/') Twitter
    li
      a(href='http://qiita.com/watilde') Qiita
    li
      a(href='http://jsdo.it/watilde/') jsdo.it
