extends ../layouts/base
block head
  title About Me
block content
  h1 About Me
  h2 links
  ul
    li
      a(href='http://jsdo.it/watilde/') jsdo.it
    li
      a(href='https://github.com/watilde/') GitHub
    li
      a(href='https://npmjs.org/~watilde') npm
