extends ../layouts/base
block head
  title Projects
block content
  h1 Projects
  h2 App
  ul
    li
      a(href='http://watilde.github.io/dartstack') Dartstack
  h2 Node Packaged Modules
  ul
    li
      a(href='https://watilde.github.io/grunt-require-config') grunt-require-config
    li
      a(href='http://watilde.github.io/qrep') qrep
    li
      a(href='http://watilde.github.io/grunt-tvm-tsc') grunt-tvm-tsc
    li
      a(href='http://watilde.github.io/tvm') tvm
