extends ../layouts/base
block head
  title Projects
block content
  h1 Projects
  h2 App
  ul
    li
      a(href='http://watilde.github.io/first-starred-repository/') First Starred Repository
    li
      a(href='http://watilde.github.io/dartstack') Dartstack
  h2 Library
  ul
    li
      a(href='http://watilde.github.io/css-fliter.js') css-filter.js
    li
      a(href='http://watilde.github.io/beeplay') beeplay.js
  h2 npm
  ul
    li
      a(href='http://watilde.github.io/wdu') wdu
    li
      a(href='http://watilde.github.io/jsss-contextual') jsss-contextual
    li
      a(href='http://watilde.github.io/gulp-jsss') gulp-jsss
    li
      a(href='http://watilde.github.io/jsss-compiler') jsss-compiler
    li
      a(href='http://chestjs.com') chest
    li
      a(href='http://watilde.github.io/rpull') rpull
    li
      a(href='http://watilde.github.io/gistjs') gistjs
    li
      a(href='http://watilde.github.io/grunt-require-config') grunt-require-config
    li
      a(href='http://watilde.github.io/qrep') qrep
    li
      a(href='http://watilde.github.io/grunt-tvm-tsc') grunt-tvm-tsc
    li
      a(href='http://watilde.github.io/tvm') tvm
